input:disabled {
	background: #ccc;
}
label {
	display: block;
	margin: 1ex 0;
}

fieldset > label > span:first-child {
	display:inline-block;
	min-width: 20em;
}

label[for="show_URL_legend"] {
	display: inline-block;
	position: relative;
	top: -0.5em;
	font-size: 80%;
	background: #eee;
	border: black thin solid;
	padding: 1px 4px;
	box-shadow: 2px 4px #aaa;
	border-radius: 5px;
}

span.parsing_error {
	color: red;
	font-weight:bold;
}
span.itemlist, span.inheritlist {
	display: block;
	margin: 0;
	padding: 0;
}
span.itemlist > span, span.inheritlist > span {
	display: inline-block;
	border: black thin solid;
	padding: 5px;
	margin: 2px 5px 2px 0px;
	border-radius: 5px;
}
span.inheritlist > span {
	background: #eee;
}
span.itemlist > span::after {
	content: ' ❌';
	padding: 0 2px;
}

/* Any siblings having or containing .enabled or .disabled will be visible based on the .toggle input value */
input.toggle:not(:checked) ~ .enabled, input.toggle:not(:checked) ~ * .enabled {
	display: none;
}
input.toggle:checked ~ .disabled, input.toggle:checked ~ * .disabled {
	display: none;
}

input[type=number] {
	width: 5em;
}
input[type=text], textarea {
	width: 100%;
}
input[type=text][name$=_edit] {
	width: 87%;
}
input[type=text][name$=_edit] + button {
	margin-left: 2%;
	width: 10%;
}
#domain_edit, label[for=domain_edit] {
	display: inline-block;
	width: calc(70% - 2ch);
	margin-right: .5ch;
}
#suffix_edit, label[for=suffix_edit] {
	display: inline-block;
	width: 30%;
	margin-left: .5ch;
}
fieldset {
	width: 100%;
	margin: 0 0 2em;
}
fieldset fieldset, #rule_selector, #rule_legend {
	width: calc(100% - 2em);
	margin: 0 1em;
}
fieldset fieldset legend {
	font-size: 1.0em;
}
fieldset.example legend {
	margin: 0 0 -1em 0;
}
#rule_legend {
	margin: 1em 1em 0;
}
#rule_selector {
	height: 15em;
}
button#remove_rule {
	position: absolute;
	right: 2em;
	margin-top: -2em;
}
textarea {
	height:10em;
}
legend {
	font-weight: bold;
	font-size: 1.2em;
}
.URL {
	font-size: 80%;
	white-space: nowrap;
	font-family: monospace;
}
.protocol { color: palevioletred; }
.subdomain { color: cornflowerblue; }
.domain { color: blue; }
.suffix { color: indigo; }
.fqdn { color: darkslateblue; }
.path { color: green; }
.query { color: orange; }
.parameter { color: red; }

#show_URL_legend {
	display: none;
}

dl {
	display: grid;
	grid-template-columns: 25ch auto;
}
dt {
	font-family: monospace;
	grid-column-start: 1;
}
dd {
	grid-column-start: 2;
	margin: auto 0;
}

#reset_buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
#reset_buttons button {
	margin: 0 2em;
}

.help {
	position: relative;
	font-weight: normal;
}
.tooltip {
	font-weight: bold;
	border:thin solid black;
	border-radius: 2em;
	display: inline-block;
	width:1.3em;
	text-align: center;
	cursor: help;
}
.help .tooltiptext {
	visibility: hidden;
	position: absolute;
	z-index: 1;

	width: 20em;
	left: 50%;
	width: 20em;
	bottom: 100%;

	background: white;
	border:thin solid black;
	padding: 5px;
	border-radius: 6px;

	text-align: justify;
}
.help:hover .tooltiptext {
	visibility: visible;
}
