html {
	font-family: 'Roboto', 'Segeo UI', sans-serif;
}
input:disabled {
	background: #ccc;
}
label {
	display: block;
	margin: 1ex 0;
}
fieldset {
	margin: 0 0 2em;
}
legend {
	font-weight: bold;
	font-size: 1.2em;
}
#rules, #features, #display {
	display: grid;
	grid-template-columns: minmax(60%, max-content) auto;
	align-items: center;
}
input[type="checkbox"] {
	grid-column: 2 / 3;
	justify-self: start;
}
#rules p,
input[type="text"] {
    grid-column: 1 / 3;
}
#reset button {
	display: block;
	margin: 0 auto .75em;
}


@media only screen and (max-device-width: 480px) {
	.not-android, .not-android + input {
		display: none;
	}
	fieldset {
		border: none;
		padding: 0;
	}
	#features, #display {
		grid-template-columns: calc(100% - 2em) auto;
	}
}
