.disabled, button:disabled {
	 background-color: #ddd;
}
button {
	padding: 0 5px;
}


html, body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
body {
	font-size: .8em;
}
#title {
    font-size: smaller;
    background-color: #444;
    color: #bbb;
    border: 0;
    margin: 0;
    padding: 1px 0;
    width: 100%;
	text-align: center;
}
#icon {
	text-align: center;
	flex: 80px 1 1;
}
#icon img {
	width: 60px;
	height: 60px;
	padding: 0;
	margin: 0;
}
#bottom {
	margin: 5px;
	display: flex;
	align-items: end;
}
#history {
	max-height: calc(500px - 60px - 40px - 40px);

	display: block;
	border-top: black thin solid;
	border-bottom: black thin solid;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 1px;
}
#history p {
	margin: 0;
	padding: 0;
	width: 100%;
	border: black thin solid;
	cursor: pointer;
}
#history p.dropped {
	background: rgb(255, 128, 128)
}
#history p > span {
	display: block;
	padding: 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: black thin solid;
}
#history p.selected > span {
	background: #CCF;
	white-space: normal;
	word-break: break-all;
}
#history p > span.cleaned::before {
	content: " → ";
}
#history p .del {
	text-decoration: line-through;
	color: red;
}
#history p .ins {
	text-decoration: underline;
	color: green;
}
#history p .keep {
	background-color: rgba(230, 230, 230, 0.5);
}
#history p .url {
	text-decoration: underline overline;
	color: #339;
}

#filters {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: 0;
}
#filter_categories {
	flex: 3;
}
#filter_actions {
	flex: 4;
}

.filters {
	display: inline-flex;
	justify-content: space-around;
	border: grey thin solid;
	border-radius: 5px;
	margin: 5px;
}
.filters label {
	flex: none;
	margin: 5px;
}
.filters input {
	display: none;
}
.filters span::before {
	display: block;
	content: ' ';
	width: 30px;
	height: 30px;
	background: center no-repeat;
	background-size: 30px 30px;
}
.filters input:not(:checked) + span::before {
	opacity: 0.2;
}
#filter_categories input[name="clicked"] + span::before {
	background-image: url("../icons/clicked.svg");
}
#filter_categories input[name="request"] + span::before {
	background-image: url("../icons/request.svg");
}
#filter_categories input[name="header"] + span::before {
	background-image: url("../icons/header.svg");
}
#filter_actions input[name="embed"] + span::before {
	background-image: url("../icons/skip.svg");
}
#filter_actions input[name="remove"] + span::before {
	background-image: url("../icons/remove.svg");
}
#filter_actions input[name="rewrite"] + span::before {
	background-image: url("../icons/replace.png");
}
#filter_actions input[name="javascript"] + span::before {
	background-image: url("../icons/javascript.svg");
}

#bottom button, .tooltip {
	display: block;
	display: inline-block;
	margin-left: 5px;
	width: 30px;
	height: 30px;
	background-size: 25px 25px;
	background-position: center;
	background-repeat: no-repeat;
}
#toggle { background-image: url("../icons/onoff.svg"); }
#options  { background-image: url("../icons/settings.svg"); }
#clearlist { background-image: url("../icons/trashcan.svg"); }
#openonce { background-image: url("../icons/shield-1.svg"); }
#whitelist { background-image: url("../icons/shield-check.svg"); }
#blacklist { background-image: url("../icons/shield-x.svg"); }
#open_editor { background-image: url("../icons/shield-edit.svg"); }
.spacer {
	flex-grow: 1;
}
.help {
	position: relative;
}
.tooltip {
	background-image: url("../icons/question.svg");
	cursor: help;
}
.help .tooltiptext {
	visibility: hidden;
	position: absolute;
	z-index: 1;

	width: 20em;
	left: 50%;
	width: 20em;
	bottom: 100%;

	background: white;
	border:thin solid black;
	padding: 5px;
	border-radius: 6px;

	text-align: center;
}
.help:hover .tooltiptext {
	visibility: visible;
}


input#enabled {
	display: none;
}
input#enabled:checked ~ * .when_disabled {
	display: none !important;
}
input#enabled:not(:checked) ~ * .when_enabled {
	display: none !important;
}

