.disabled, button:disabled {
	 background-color: #ddd;
}
button {
	padding: 0 5px;
}


html, body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
body {
	font-size: .8em;
	/* do not set width directly to avoid scrollbars when in overflow menu */
	max-width: 800px;
}
hr {
	/* nasty hack to negociate a popup as big as possible */
	min-width: 800px;
	height: 0px;
	margin: 0;
	visibility: hidden;
}
#title:after {
	content: 'ok';
}
#title a {
    color: #bbb;
	text-decoration: none;
}
#title {
    font-size: smaller;
    background-color: #444;
    border: 0;
    margin: 0;
    padding: 1px 0;
    width: 100%;
	text-align: center;
	align-items: center;
}
#icon {
	text-align: center;
	flex: 80px 1 1;
}
#icon img {
	width: 60px;
	height: 60px;
	padding: 0;
	margin: 0;
}
#bottom {
	margin: 5px;
	display: flex;
	align-items: center;
}
#history:empty::before {
	content: attr(placeholder);
	color: grey;
	font-size: 1.5em;
	display: block;
	text-align: center;
	margin-top: 1em;
}
#history {
	height: 450px;

	display: block;
	border-top: black thin solid;
	border-bottom: black thin solid;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 1px;
}
#history p {
	margin: 0;
	padding: 0;
	width: 100%;
	border: black thin solid;
	cursor: pointer;
}
#history p > span {
	display: block;
	padding: 2px;
	white-space: nowrap;
	text-overflow: ellipsis;
	border-left: black thin solid;
}
#history p.selected > span {
	background-color: #eef;
	border-left: #38c 5px solid;
	white-space: normal;
	word-break: break-all;
}
#history p > span.cleaned::before {
	content: " ► "
}
#history p.dropped {
	background-color: #f031;
}
#history p.dropped > span.cleaned::before {
	content: " ❌ ";
}
#history p .del {
	text-decoration: line-through;
	color: #c11;
}
#history p .ins {
	text-decoration: underline;
	color: green;
}
#history p .keep {
	background-color: rgba(230, 230, 230, 0.5);
}
#history p .url {
	text-decoration: underline overline;
	color: #38c;
}

#filters {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
}
#filter_categories {
	flex: 3;
}
#filter_actions {
	flex: 4;
}
.filters {
	display: inline-flex;
	justify-content: space-around;
	border: grey thin solid;
	border-radius: 5px;
	margin: 5px;
}
.filters label {
	flex: 30px 0 1;
	margin: 5px;
	min-width: 22px;
}
.filters label img {
	width: 100%;
}
.filters input {
	display: none;
}
.filters input:not(:checked) + img {
	opacity: 0.2;
}

#bottom button, .tooltip {
	display: inline-block;
	margin-left: 5px;
	width: 30px;
	height: 30px;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}
#toggle_on { background-image: url("/icons/onoff.svg"); }
#toggle_off { background-image: url("/icons/onoff.svg"); }
#options  { background-image: url("/icons/settings.svg"); }
#refresh  { background-image: url("/icons/refresh.svg"); }
#clearlist { background-image: url("/icons/trashcan.svg"); }
#openonce { background-image: url("/icons/shield-1.svg"); }
#whitelist { background-image: url("/icons/shield-check.svg"); }
#blacklist { background-image: url("/icons/shield-x.svg"); }
#open_editor { background-image: url("/icons/shield-edit.svg"); }
.spacer {
	flex-grow: 1;
}
.help {
	position: relative;
}
.tooltip {
	background-image: url("/icons/question.svg");
	cursor: help;
}
.help .tooltiptext {
	visibility: hidden;
	position: absolute;
	z-index: 1;

	left: 50%;
	width: 20em;
	bottom: 50%;

	background: white;
	border:thin solid black;
	padding: 5px;
	border-radius: 6px;

	text-align: justify;
}
.help:hover .tooltiptext {
	visibility: visible;
}


input#enabled {
	display: none;
}
input#enabled:checked ~ * .when_disabled {
	display: none !important;
}
input#enabled:not(:checked) ~ * .when_enabled {
	display: none !important;
}


@media only screen and (max-device-width: 480px) {
	body {
		font-size: 2em !important;
	}
	hr {
		display: none;
	}
	#icon {
		text-align: center !important;
		flex: 20px 1 0 !important;
	}
	#bottom {
		background: white;
		bottom: 0;
		position: fixed;
		width: 100%;
	}
	.filters {
		margin: 2px;
	}
	#history {
		max-height: calc(100vh - 25vw - 120px) !important;
		height: auto !important;
	}
	#history p.selected > span {
		border-left: #38c 10px solid;
		padding-left: 5px;
	}
	.filters label {
		flex: 14% 1 1;
		margin: 2px;
	}

	#filter_actions label {
		flex-grow: 1;
	}

	.tooltip {
		height: 60px;
		width: 60px;
	}
	#bottom button {
		object-fit: contain;
		width: 11%;
		padding-top: 11%;
	}
}
